# Files to keep out of the (public) repository.
# Exclude files that have plot secrets in them. 
scripts/ai_darklady.nss
scripts/ai_fairyqueen.nss
scripts/ai_maliavera.nss
scripts/ai_nymphtalk.nss
scripts/ai_watchcomm.nss

# Exclude ncs files that creep in. 
scripts/*.ncs

# Exclude any backed up files.
*.backup